body{
    text-align: center;
    color: black;
    display: inline;
    vertical-align: top;
    width: 23%;
    height: 100px;
    padding: 1%;
    border: 1px black;
    background-color: #ba9e8a;
}
.nav .logo {
    width: 73%;
    padding: 1%;
    text-align: center;
}
.nav li{
    width: 50%;
    text-align: center;
}
.herolmg {
    height:600px;
    padding: 25px;
}
.footer {
    background-color: #373738;
}
.footer ul {
    padding:25px;
    display: inline-block;
    vertical-align: top;
}
.footer li {
    padding: 20px;
}
.flexContainer {
    display: flex;
    width: 33%;
    flex-direction: column;
}
.containerGrid {
    display: grid;
    grid-template-rows: 50%, 50%;
    grid-template-columns: 125px, 75%;
    grid-template-areas: 
    "myWork myWork myWork"
    "myWork myWork";
}
.topRow {
    grid-area: topRow;
}
.leftSidebar {
    grid-area: leftSidebar;
}
.rightContent {
    grid-area: rightContent;
}

@media only screen and (max-width: 600px) {
    .flex-Container {
        display: column;
        width: 100%;
        grid-template-areas: 
        "myWork"
        "myWork"
        "myWork"
        ;
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
}

